<h2><%= @park[:name] %></h2>
<img width=60% height=60% src="/images/<%= @park[:name].downcase %>-np.avif">
<p><%= @park[:description] %></p>

<% if !@park[:visited] || @edit %>
  <form method="post" action="/<%= @park[:name] %>/edit">
    <ul>
      <% if @edit %>
        <li>Date visited: <input name="date_visited" placeholder="<%= @park[:date_visited] %>" type="text" value=""></li>
        <li>Visit note: <textarea cols=30 rows=5 name="note" placeholder="<%= @park[:note] %>" type="text" value=""></textarea></li>
      <% else %>
        <li>Date visited: <input name="date_visited" placeholder="Enter a date (YYYY-MM-DD)" type="text" value=""></li>
        <li>Visit note: <textarea cols=30 rows=5 name="note" placeholder="Enter a note" type="text" value=""></textarea></li>
      <% end %>
    </ul>

    <fieldset>
      <input type="submit" value="Submit">
      <% if @edit %>
        <a href="/<%= @park[:name] %>/">Cancel</a>
      <% else %>
        <a href="/">Cancel</a>
      <% end %>
    </fieldset>
  </form>

<% else %>
  <ul>
    <li>Date visited: <%= @park[:date_visited] %></li>
    <li>Visit note: <%= @park[:note]%> </li>
    </li>
  </ul>
  <a href="/<%= @park[:name] %>/edit">Edit</a>
  <a href="/">Back to homepage</a>
<% end %>
