<div>
  <table>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Date established</th>
      <th>Area (km2)</th>
      <th>Visited</th>
    </tr>
    <% sort_parks(@parks, @criteria).each do |park| %>
      <tr>
        <td><a href="/<%= park[:name] %>/"><%= park[:name] %></a></td>
        <td><%= park[:state] %></td>
        <td><%= park[:date_established] %></td>
        <td><%= park[:area_km2] %></td>
        <td><%= park[:visited]? "Y" : "N" %>
          </td>
        <td>
          <form action="/<%= park[:id] %>/edit" method="get">
            <input type="submit" value="edit">
          </form> 
          <form action="/<%= park[:id] %>/delete" method="post">
              <input type="submit" value="delete">
          </form>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<a href="/">Back to homepage</a>