<% if @visited%>
  <h2>Parks that you have visited</h2>
<% else %>
  <h2>Parks that you have not visited</h2>
<% end %>

<br>
<div>
  <table>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>State</th>
      <th>Date established</th>
      <th>Area (km2)</th>
    </tr>
    <% sort_parks(@parks, "id").each_with_index do |park, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><a href="/<%= park[:name] %>/"><%= park[:name] %></a></td>
        <td><%= park[:state] %></td>
        <td><%= park[:date_established] %></td>
        <td><%= park[:area_km2] %></td>
      </tr>
    <% end %>
  </table>
</div>

<br>
<a href="/">Back to homepage</a>